<!docType html>
<html lang="en">
<title>IMO SQL</title>
<meta charset="utf-8"/>
<meta name="Description" content="IMO SQL"/>
<meta name="Keywords" content="IMO SQL"/>
<html>
<head>
</head>
<header id=header>
  <h1>IMO SQL</h1>
</header>
<nav></nav>
 
  <body class="body1">
    

 <button class=button2 ><a href="https://angular-imo-sql-setup.stackblitz.io"><td><div id=box>
    <h1 >Set up your tools</h1>
      <li>
       Install oracal
      </li>  
      <li>
        Set up conncetion
      </li>  
       <li>
        Learn about schemas and tables
      </li> 
      </div></td></a></button>


    <button class=button2 ><a href="https://angular-imo-sql-basicknowledge.stackblitz.io"><td><div id=box>
    <h1 >Set up your tools</h1>
      <li>
       What is a Schema?
      </li>  
      <li>
        What is a Database?
      </li>  
       <li>
        lWhat is a Tabel?
      </li> 
      </div></td></a></button>


  <button class=button2 ><a href="https://angular-imo-sql-schema-use.stackblitz.io"><td><div id=box>
    <h1 >Schema  Uses</h1>
      <li>
       Schemas in IMO
      </li>  
      <li>
        Who Uses wWhat?
      </li>  
       <li>
        What does it contain?
      </li> 
      </div></td></a></button>


 




 <button class="button2"><a><td><div><h1>Set up your tools</h1>
    <li>
      install oracal
    </li>  
    <li>
      set up conncetion
    </li>  
    <li>
      learn about schemas and tables
    </li>  
 </div></td> </a></button>
   
    
</body>

 