<!docType html>
<html lang="en">
<title>IMO SQL</title>
<meta charset="utf-8"/>
<meta name="Description" content="IMO SQL"/>
<meta name="Keywords" content="IMO SQL"/>
<html>
<head>
</head>
<header id=header>
  <h1>IMO SQL</h1>
</header>
<form><nav>
  <ul>
     <div Class="button">
        <a href="https://angular-imo-sql-home.stackblitz.io" >Home</a></div>
     <div Class="button">
        <a href="https://angular-imo-sql-setup.stackblitz.io">Set Up</a></div>
  </ul>
</nav></form>
  <body class="body1">
    
<button class="button2"><a><td><div><h1>Set up your tools</h1>
    <li>
      install oracal
    </li>  
    <li>
      set up conncetion
    </li>  
    <li>
      learn about schemas and tables
    </li>  
 </div></td> </a></button>

 <button><a href="https://angular-imo-sql-setup.stackblitz.io"><td><div Class="button2">
    <h1>Set up your tools</h1>
      <li>
       install oracal
      </li>  
      <li>
        set up conncetion
      </li>  
       <li>
        learn about schemas and tables
      </li> 
      </div></td></a></button>


  <button class="button2"><a><td><div><h1>Set up your tools</h1>
    <li>
      install oracal
    </li>  
    <li>
      set up conncetion
    </li>  
    <li>
      learn about schemas and tables
    </li>  
 </div></td> </a></button>
 <button class="button2"><a><td><div><h1>Set up your tools</h1>
    <li>
      install oracal
    </li>  
    <li>
      set up conncetion
    </li>  
    <li>
      learn about schemas and tables
    </li>  
 </div></td> </a></button>
 <button class="button2"><a><td><div><h1>Set up your tools</h1>
    <li>
      install oracal
    </li>  
    <li>
      set up conncetion
    </li>  
    <li>
      learn about schemas and tables
    </li>  
 </div></td> </a></button>
 <button class="button2"><a><td><div><h1>Set up your tools</h1>
    <li>
      install oracal
    </li>  
    <li>
      set up conncetion
    </li>  
    <li>
      learn about schemas and tables
    </li>  
 </div></td> </a></button>
 <button class="button2"><a><td><div><h1>Set up your tools</h1>
    <li>
      install oracal
    </li>  
    <li>
      set up conncetion
    </li>  
    <li>
      learn about schemas and tables
    </li>  
 </div></td> </a></button>
   
    
</body>

 