<!docType html>
<html lang="en">
<title>IMO SQL</title>
<meta charset="utf-8"/>
<meta name="Description" content="IMO SQL"/>
<meta name="Keywords" content="IMO SQL"/>
<html>
<head>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<header class=header>
  <h1>IMO SQL</h1>
</header>
<nav></nav>
 
  <body class="body1">
    
<div class="container">


<div class="col-md-4">
 <button class=button2 ><a href="https://angular-imo-sql-setup.stackblitz.io"><td><div id=box>
    <h1 >Set Up Your Tools</h1>
      <li>
       Install Oracle
      </li>  
      <li>
        Set up Connection
      </li>  
       <li>
        Learn about Schemas/Tables
      </li> 
      </div></td></a></button>
</div>


<div class="col-md-4">
    <button class=button2 ><a href="https://angular-imo-sql-basicknowledge.stackblitz.io"><td><div id=box>
    <h1 >Basic Knowledge</h1>
      <li>
       Definitions
      </li>  
      <li>
        SQL Developer
      </li>   
      <li>
        User Snippets & SQL History
      </li> 
      </div></td></a></button>
</div>


<div class="col-md-4">
  <button class=button2 ><a href="https://angular-imo-sql-schema-use.stackblitz.io"><td><div id=box>
    <h1 >Schemas Used</h1>
      <li>
       Schemas in IMO
      </li>  
      <li>
        Who uses what?
      </li>  
       <li>
        What is it for?
      </li> 
      </div></td></a></button>
</div>

<div class="clearfix"></div>

 


<div class="col-md-4">
 <button class=button2 ><a href="https://angular-imo-sql-schema-details.stackblitz.io"><td><div id=box>
    <h1 >Schema Details</h1>
      <li>
       Relationship diagrams
      </li>  
      <li>
        Map of Schema connections
      </li>  
       <li>
        What does it contain?
      </li> 
      </div></td></a></button>
</div>


<div class="col-md-4">
 <button class=button2 ><a href="https://angular-imo-sql-query101.stackblitz.io"><td><div id=box>
    <h1 >Query 101</h1>
      <li>
       Query syntax
      </li>  
      <li>
        Common IMO queries
      </li>  
       <li>
        What does it mean?
      </li> 
      </div></td></a></button>
</div>


<div class="col-md-4">
   <button class=button2 ><a href="https://angular-imo-sql-practice-problems.stackblitz.io"><td><div id=box>
    <h1 >Practice Problems</h1>
      <li>
       Questions
      </li>  
      <li>
        Answers
      </li>  
       <li>
        Detailed descriptions 
      </li> 
      </div></td></a></button>    
</div>


</div>    
</body>

 